<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>petLV</key>
	<integer>1</integer>
	<key>experince</key>
	<integer>0</integer>
	<key>state</key>
	<integer>90</integer>
	<key>storyStep</key>
	<integer>1</integer>
	<key>lv</key>
	<integer>1</integer>
	<key>money</key>
	<integer>0</integer>
	<key>sound</key>
	<true/>
	<key>speed</key>
	<integer>1</integer>
</dict>
</plist>
