<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path1</key>
	<array>
		<real>12.964</real>
		<real>13.825</real>
		<real>16.25</real>
		<real>18.378</real>
		<real>23.098</real>
		<real>26.504</real>
		<real>29.545</real>
		<real>30.423</real>
		<real>37.647</real>
	</array>
	<key>path2</key>
	<array>
		<real>0.456</real>
		<real>1.802</real>
		<real>5.875</real>
		<real>12.528</real>
		<real>13.375</real>
		<real>18.572</real>
		<real>19.591</real>
		<real>23.493</real>
		<real>44.503</real>
	</array>
	<key>path3</key>
	<array>
		<real>6.304</real>
		<real>12.323</real>
		<real>16.625</real>
		<real>20.015</real>
		<real>22.241</real>
		<real>23.917</real>
		<real>25.156</real>
		<real>26.905</real>
		<real>30.805</real>
		<real>33.316</real>
		<real>33.925</real>
		<real>38.108</real>
		<real>44.272</real>
	</array>
	<key>path4</key>
	<array>
		<real>0.87</real>
		<real>2.167</real>
		<real>5.35</real>
		<real>6.795</real>
		<real>10.438</real>
		<real>17.084</real>
		<real>22.452</real>
		<real>24.323</real>
		<real>25.829</real>
		<real>27.285</real>
		<real>34.378</real>
		<real>41.045</real>
		<real>43.162</real>
	</array>
	<key>path5</key>
	<array>
		<real>1.026</real>
		<real>2.162</real>
		<real>5.515</real>
		<real>7.292</real>
		<real>9.178000000000001</real>
		<real>11.308</real>
		<real>15.699</real>
		<real>18.793</real>
		<real>19.164</real>
		<real>20.433</real>
		<real>22.637</real>
		<real>24.756</real>
		<real>26.043</real>
		<real>27.723</real>
		<real>30.013</real>
		<real>31.336</real>
		<real>34.798</real>
		<real>37.074</real>
		<real>38.57</real>
		<real>40.872</real>
		<real>42.312</real>
	</array>
	<key>path6</key>
	<array>
		<real>1.308</real>
		<real>3.082</real>
		<real>9.010999999999999</real>
		<real>10.846</real>
		<real>11.697</real>
		<real>15.833</real>
		<real>17.519</real>
		<real>18.972</real>
		<real>20.92</real>
		<real>22.71</real>
		<real>25.156</real>
		<real>33.539</real>
		<real>35.3</real>
		<real>37.274</real>
		<real>39.046</real>
		<real>42.681</real>
		<real>43.564</real>
	</array>
</dict>
</plist>
