<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>story1</key>
	<dict>
		<key>step</key>
		<integer>1</integer>
		<key>target</key>
		<string></string>
		<key>MusicID</key>
		<string></string>
		<key>LvNeed</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<key>story2</key>
	<dict>
		<key>step</key>
		<integer>2</integer>
		<key>target</key>
		<string></string>
		<key>MusicID</key>
		<string></string>
		<key>LvNeed</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<key>story3</key>
	<dict>
		<key>step</key>
		<integer>3</integer>
		<key>target</key>
		<string></string>
		<key>MusicID</key>
		<string></string>
		<key>LvNeed</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<key>story4</key>
	<dict>
		<key>step</key>
		<integer>4</integer>
		<key>target</key>
		<string></string>
		<key>MusicID</key>
		<string></string>
		<key>LvNeed</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<key>story5</key>
	<dict>
		<key>step</key>
		<integer>5</integer>
		<key>target</key>
		<string></string>
		<key>MusicID</key>
		<string></string>
		<key>LvNeed</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<key>story6</key>
	<dict>
		<key>step</key>
		<integer>6</integer>
		<key>target</key>
		<string></string>
		<key>MusicID</key>
		<string></string>
		<key>LvNeed</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
</dict>
</plist>
